// Colors
$primary-background:#120600;
$secondary-background:#361500;
// $secondary-background:#240e00;
$primary-accent:#CC9544;
$secondary-accent:#603601;

// Variables
$navbar-height: 80px;

// Class prototypes
.nav-components {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}


// Set text color
@function set-text-color($color) {
    @if (lightness($color) > 40) {
        @return #000;
    } @else {
        @return #fff;
    }
}

// Animation
@mixin easeOut {
    transition: all 0.5s ease-out;
}