// Colors
// $primary-background:#285430;
// $secondary-background:#557153;
// $primary-accent:#EAE509;
$primary-background:#06283d;
$secondary-background:#256d85;
$primary-accent:#47b5ff;
$color-layer-opacity: 0.2;

// Variables
$navbar-height: 80px;
$footer-height: 160px;
$contact-item-width: 250px;

// Class prototypes
.nav-components {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}


// Set text color
@function set-text-color($color) {
    @if (lightness($color) > 40) {
        @return #000;
    } @else {
        @return #fff;
    }
}

// MIXINS
@mixin easeOut($speed: 0.5s) {
    transition: all $speed ease-out;
}

@mixin borderShadow($Xoffset: 5px, $Yoffset: 5px, $blurRadius: 5px, $color: $primary-background){
    box-shadow: $Xoffset $Yoffset $blurRadius darken($color, 10);
}

@mixin hoverRaise {
    &:hover {
        transform: translateY(-5px);
        @include borderShadow;
        @include easeOut($speed: 0.25s);
    }

    &:not(:hover) {
        @include easeOut($speed: 0.25s);
    }

    &:active {
        transform: translateY(-3px);
        @include borderShadow($Xoffset: 3px, $Yoffset: 3px, $blurRadius: 3px);
        @include easeOut($speed: 0.1s);
    }
}

@mixin backgroundImage($additional-opacity: 0) {
    background-image: url("../img/landing-page-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 0 0 0 100vmax rgba($primary-background, ($additional-opacity + $color-layer-opacity));
    overflow: auto;

    &::after{

        content: ($additional-opacity + $color-layer-opacity);
    }
}

@mixin textShakeAnimation($delay) {
    transform-origin: center;
    animation-name: text-shake;
    animation-duration: 8s;
    animation-delay: $delay;
    animation-iteration-count: infinite;
}


// ANIMATIONS
@keyframes text-shake {
    0% {transform: rotate(0deg);}
    2% {transform: rotate(5deg);}
    4% {transform: rotate(-5deg);}
    6% {transform: rotate(5deg);}
    8% {transform: rotate(-5deg);}
    10% {transform: rotate(5deg);}
    12% {transform: rotate(0deg);}
    100% {transform: rotate(0deg);}
}