@import "config";

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    height: $navbar-height;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: $primary-background;
    @include borderShadow;

    
    #logo-banner {
        @extend .nav-components;
        
        #logo-img {
            height: 100%;
            aspect-ratio: 1 / 1;
            background-color: $primary-accent;
            padding: 5px;
        }
        
        #logo-link {
            text-decoration: none;
            
            #logo-title {
                font-size: 45px;
                font-family: Snell Roundhand, cursive;
                color: set-text-color($primary-background);
                letter-spacing: 2px;
                margin: 0 25px;
            }
        }
    }
    
    nav {
        height: 100%;
        
        ul {
            @extend .nav-components;
            justify-content: space-between;
            gap: 50px;
            list-style: none;
            margin: 0 20px 0 0;
            padding: 0;

            li:hover {
                border-bottom: 2px solid $primary-accent;
            }
            
            a {
                font-size: 20px;
                text-decoration: none;
                color: set-text-color($primary-background);
            }
        }
    }
}