@import "config";

#gallery-main {
    margin-top: $navbar-height;
    background-color: $primary-background;
    @include backgroundImage(0.6);
    color: set-text-color($primary-background);
    overflow: auto;

    #gallery {
        
        .slideshow-grid{
            padding: 0 30px 50px;
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
            row-gap: 50px;
            justify-items: center;

            .slideshow-container{
                border-radius: $small-border-radius;
                background-color: $secondary-background;
                color: set-text-color($secondary-background);
                @include borderShadow;
                width: 400px;
                overflow: hidden;
                
                .slideshow-images{
                    position: relative;
                    
                    &:after{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-image: linear-gradient(rgba(0, 0, 0, 0) 98%, $secondary-background 100%);
                    }

                    p.image-counter{
                        position: absolute;
                        background-color: $primary-accent;
                        color: set-text-color($primary-accent);
                        top: 0px;
                        left: 0px;
                        margin: 0px;
                        padding: 10px;
                        border-bottom-right-radius: 40%;
                        z-index: 2;
                    }

                    button.prev, button.next {
                        position: absolute;
                        top: 50%;
                        background-color: rgba($primary-background, 0);
                        border-radius: 0 $small-border-radius $small-border-radius 0;
                        color: #000;
                        font-size: 30px;
                        height: 80px;
                        width: 40px;
                        border: none;
                        z-index: 2;
                    }
                    
                    button.next {
                        right: 0;
                        border-radius: $small-border-radius 0 0 $small-border-radius;
                    }
                    
                    button.prev:hover, button.next:hover {
                        background-color: rgba($primary-background, 0.8);
                        color: $primary-accent;
                        @include easeOut()
                    }
    
                    img.slide{
                        display: none;
                        width: 100%;
                        height: 450px;
                        object-fit: cover;
                        
    
                        &.active{
                            display: block;
                        }
                    }
                }
                
                .slideshow-caption{
                    padding: 10px 0;
    
                    .icon-name {
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                        justify-content: center;

                        .cat-icon {
                            color: $primary-accent;
                        }
                        
                        .cat-name {
                            text-align: center;
                            font-size: 30px;
                            margin: 0;
                        }
                    }
                    
                    .cat-description{
                        padding: 10px 10px 0px;
                        margin: 0;
                    }
                }
            }

        }
    }
}