@import "config";

#home-main {
    margin-top: $navbar-height;

    #landing-page {
        height: calc(100vh - #{$navbar-height});
        @include backgroundImage;

        #heading {
            
            .buttons {
                display: flex;
                flex-direction: row;
                margin: 0 0 0 4vw;
                gap: 30px;  
                
                a {
                    text-decoration: none;
                    color: set-text-color($primary-accent);
                    
                    .button {
                        padding: 15px 30px;
                        background-color: $primary-accent;
                        border-radius: 500px;
                    }
                }
            }
        }
    }
}