@import "config";
@import "utility";

@import "header";

@import "index";
@import "gallery";
@import "menu";
@import "contact";

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: $primary-background;
}

.page-heading {
    display: flex;
    flex-direction: column;
    background-color: $secondary-background;
    @include borderShadow;
    width: 800px;
    margin: 50px auto;
    padding: 15px;
    border-radius: 50px;
        
    h1 {
        width: fit-content;
        margin: 0;
        font-size: 100px;
        color: set-text-color($secondary-background);
    }
    
    p {
        font-size: 20px;
        color: set-text-color($secondary-background);
    }
}

@import "footer";