@import "config";
@import "utility";

@import "header";

@import "index";
@import "gallery";
@import "menu";

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $primary-background;
}

.page-heading {
    display: flex;
    flex-direction: column;
    background-color: $secondary-background;
    width: 800px;
    margin: 50px 0 50px 10vw;
    padding: 15px;
    border-radius: 50px;
        
    h1 {
        font-size: 100px;
        margin: 0;
        color: $primary-accent;
    }
    
    p {
        font-size: 20px;
        color: $primary-accent;
    }
}

@import "footer";